parameters:
	level: 9
	paths:
		- app
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			path: app/Casters/TypeString.php

		-
			message: '#^Dead catch \- Throwable is never thrown in the try block\.$#'
			path: app/Casters/TypeString.php
